/*Seletor universal

* {
    border: 1px solid lightcoral;
}*/


/*Seletor de texto 
h1{
    color: red
}
*/


/*Seletor de class
.azul{
    color; blue;
}

p.azul{ Aplica a formatação apenas no elemento p
    color: blue;
}
*/


/*Seletor id
#cabecalho{
    color: red;
}*/


/*Seletor filho Seleciona o elemento a dentro de li
li>a{
    color: green
}*/


/*Seletor de descendente - Seleciona o elemento que reside dentro do outro elemento,
independente se é filho ou não 
p a {
    color: white;
}*/


/*Seletor irmão adjacente - selecio o elemento (unico) que vem depois do desejado
h1+p{
    color: purple;
}*/


/*Seletor irmão geral - seleciona todos os elementos posteriorers ao deseja
h1~p{
    color: yellow;
}*/